.container
  .col-md-8.col-md-offset-2
    %h2 Ask for a new password.
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal', :role => 'form'}) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email, :class => 'col-sm-2 control-label'
        .col-sm-10
          = f.email_field :email, :autofocus => true, :class => 'form-control'
      .forn-group
        .col-sm-offset-2.col-sm-10
          = f.submit "Send", :class => 'btn btn-warning'
    = render "devise/shared/links"
