%nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#" } School Diary
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Home', root_path
      %li 
        = link_to 'About', root_path
      - unless current_user.present?
        %li
          = link_to 'Join', new_user_registration_path
      %li
        - if current_user.present?
          = link_to 'logout', destroy_user_session_path, :method => :delete
        -else
          %li.dropdown.login
            %a.dropdown-toggle{"data-toggle" => "dropdown"} Login
            %ul.dropdown-menu
              %li
                .login-fb
                  %a{:href => "#"} 
                    <i class="fa fa-facebook-square"></i> 
                    %p Connect with Facebook

                .break
                  %p or
                .login-device
                  = simple_form_for(:user,  :url => user_session_path, :html => {:class => 'form-horizontal'}) do |f| 
                    .form-group
                      .col-sm-12
                        = f.input_field :email, :autofocus => true, :label => false, :placeholder => "Email", :class => 'form-control'
                    .form-group
                      .col-sm-12
                        = f.input_field :password, :label => false, :placeholder => 'Password', :class => 'form-control'
                    %div
                      = f.submit "Sign in", :class => 'btn btn-warning'
                    %div
                      = link_to "I've forgotten my password", new_user_password_path
                %hr
                  .member
                    %p Not a member yet?
                    %a{:href=> '#'} Sign-up in 30 seconds

