.home
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .carousel-inner
      .item.active
        = image_tag 'szkola.jpg'
      .item
        = image_tag 'basen.jpg'
      .item
        = image_tag 'dzieci.jpg'
    %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
    %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
  .container
    .col-md-12
      .section
        %h2
          Why School Diary
        %p.mid
          Sed pellentesque fringilla orci, et congue diam semper quis. Suspendisse sit amet interdum orci. Vestibulum in nisi risus. Morbi aliquam risus quis dictum accumsan. Maecenas sagittis tortor ac placerat molestie. Proin nec neque nibh. Vivamus dictum venenatis tempus. Etiam luctus viverra nisi mollis congue. Integer sed blandit erat.
        .row
          .col-md-1
            = image_tag 'interface.png'
          .col-md-5
            %h3 Friendly interface
            %p Sed posuere, enim a pulvinar tempus, arcu enim scelerisque nisl, in porttitor quam dui at magna. Aliquam congue tempus leo tempus auctor. Nunc eleifend rhoncus blandit. Vestibulum in ante luctus, imperdiet nulla ut, sodales orci. Aliquam suscipit non massa a pretium.
          .col-md-1
            = image_tag 'lessons.png'
          .col-md-5
            %h3 Video lessons
            %p Sed posuere, enim a pulvinar tempus, arcu enim scelerisque nisl, in porttitor quam dui at magna. Aliquam congue tempus leo tempus auctor. Nunc eleifend rhoncus blandit. Vestibulum in ante luctus, imperdiet nulla ut, sodales orci. Aliquam suscipit non massa a pretium.
        .row
          .col-md-1
            = image_tag 'access.png'
          .col-md-5
            %h3 3 types of access
            %p Sed posuere, enim a pulvinar tempus, arcu enim scelerisque nisl, in porttitor quam dui at magna. Aliquam congue tempus leo tempus auctor. Nunc eleifend rhoncus blandit. Vestibulum in ante luctus, imperdiet nulla ut, sodales orci. Aliquam suscipit non massa a pretium.
          .col-md-1
            = image_tag 'other.png'
          .col-md-5
            %h3 Easy implementation
            %p Sed posuere, enim a pulvinar tempus, arcu enim scelerisque nisl, in porttitor quam dui at magna. Aliquam congue tempus leo tempus auctor. Nunc eleifend rhoncus blandit. Vestibulum in ante luctus, imperdiet nulla ut, sodales orci. Aliquam suscipit non massa a pretium.
