<!DOCTYPE html>
<html>
<head>
  <title>Daily</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' %>
</head>
<body>
<%= render 'home/nav' %>
<%= yield %>
<%= render 'home/footer' %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>
    <% if notice.present? %>
        noty({text: '<%= notice %>', timeout: 3000, layout: 'BottomLeft'});
    <% end%>
    <% if alert.present? %>
        noty({text: '<%= alert %>', type: 'error', timeout: 3000, layout: 'BottomLeft'});
    <% end%>
</script>
</body>
</html>
