!!!
%html
  %head
    %title Daily
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/top_director'
    = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
    -if notice.present?
      :javascript
        noty({text: '#{notice}', timeout: 3000, layout: 'bottomLeft', type: 'success'});
    -if alert.present?
      :javascript
        noty({text: '#{alert}', timeout: 3000, layout: 'bottomLeft', type: 'error'});